<!-- Stylesheets -->
<link rel="stylesheet" href="/stylesheets/navbar.css"/>

<section id="nav" class="nav">
    <div class="nav-bar">
        <div class=""
        <div class="nav-bar__link">
            <a class="bottom-border-hover" href="#intro" alt="Scroll to intro">Intro</a>
        </div>
        <div class="nav-bar__link">
            <a class="bottom-border-hover" href="#" alt="Link to Resume">Resume</a>
        </div>
        <div class="nav-bar__link">
            <a class="bottom-border-hover" href="#featured-projects" alt="Scroll to Projects">Projects</a>
        </div>
        <div class="nav-bar__link">
            <a class="bottom-border-hover" href="#skills" alt="Scroll to Skills">Skills</a>
        </div>
        <div class="nav-bar__link">
            <a class="bottom-border-hover" href="#" alt="Link to Blog">Blog</a>
        </div>
    </div>
</section>
