<%- contentFor('header') %>

<h1><%= title %></h1>

<%- contentFor('body') %>

<p> Some body content </p>

<%- contentFor('footer') %>

<p> Some footer content</p>

<!-- Style Sheets -->
<link rel='stylesheet' href='/stylesheets/style.css'/>

<!-- Scripts -->
